@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
li {
  list-style-type: none;
 }
 ul {
  margin-left: 0; 
  padding-left: 0; 
 }
*{
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  

}
body {
  color: rgb(var(--foreground-rgb));
  background: #08090B;
  font-family: 'Inter', sans-serif;
  min-height: 110vh;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

.container{
  max-width: 1620px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn{
    padding: 10px 24px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
   
  }

.prymary{
  background: radial-gradient(100.04% 100.00% at 50.00% 0.00%, #66CBF9 0%, #0FB5FF 100%);
  color: #08090B;
  &:hover{
    color: #FFF;
    background: radial-gradient(100.04% 100.00% at 50.00% 0.00%, #5bb5df 0%, #0fa2e6 100%);
  }
}

.secondary{
  color: #CEE7FF;
  background: radial-gradient(100.04% 100.00% at 50.00% 0.00%, #26314E 0%, #1E253C 100%);
  &:hover{
    background: radial-gradient(100.04% 100.00% at 50.00% 0.00%, #1e273f 0%, #181d30 100%);

  }
}

.signInGroup{

    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    background: radial-gradient(100.04% 100.00% at 50.00% 0.00%, #26314E 0%, #252B3D 100%);
    border-radius: 6px;
    height: 42px;
    overflow: hidden;
    z-index: 20;
    // @media (max-width: 460px) {
    //   background-color: red;
    //   border: 1px solid red;
    // }
    // margin: 0 auto;
    input{
      width: 420px;
      padding: 10px 108px 10px 48px;
      gap: 10px;
      border-radius: 6px;
      background-color: transparent;
      height: 42px;
     
      &::placeholder{
        color: #6D799C;
        font-size: 18px;
        font-weight: 500;
      }
    }
    
    .signInBtn{
      position: absolute;
      right: 0;
      justify-content: center;
      align-items: center;
      gap: 10px;
      height: 42px;

    }
    .icon{
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
    }

}




.loading-page{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #08090B;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  .loader {
    width: 45px;
    height: 40px;
    background: linear-gradient(#0000 calc(1*100%/6),#fff 0 calc(3*100%/6),#0000 0),
              linear-gradient(#0000 calc(2*100%/6),#fff 0 calc(4*100%/6),#0000 0),
              linear-gradient(#0000 calc(3*100%/6),#fff 0 calc(5*100%/6),#0000 0);
    background-size: 10px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
  }
  
  @keyframes matrix {
    0% {
      background-position: 0% 100%, 50% 100%, 100% 100%
    }
  
    100% {
      background-position: 0% 0%, 50% 0%, 100% 0%
    }
  }
      
}